.App {
  text-align: center;
}

.App-header {
  background-color:#c6c4c4;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  padding-left: 250px;
}

@media screen and (max-width: 1024px) {
  .App-header {
    padding-left: 0px;
  }
}